@mixin button-size($padding-y, $padding-x, $font-size, $line-height) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  outline: none;
  transition: $global-transition;

  &-sm {
    @extend .btn;
    border-radius: $button-sm-border-radius;
    @include button-size($btn-sm-padding-y, $btn-sm-padding-x, $btn-sm-font-size, $btn-sm-line-height);
    & + & {
      margin-left: map-get($spacers, 8);
    }
  }

  &-reg {
    @extend .btn;
    border-radius: $button-reg-border-radius;
    @include button-size($btn-reg-padding-y, $btn-reg-padding-x, $btn-reg-font-size, $btn-reg-line-height);
    & + & {
      margin-left: map-get($spacers, 16);
    }
  }

  &-lg {
    @extend .btn;
    border-radius: $button-lg-border-radius;
    @include button-size($btn-lg-padding-y, $btn-lg-padding-x, $btn-lg-font-size, $btn-lg-line-height);
    & + & {
      margin-left: map-get($spacers, 24);
    }
  }

  &-link {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  &-block {
    display: block;
    width: 100%;
    & + & {
      margin-top: $spacer;
      margin-left: 0;
    }
  }

  &-inline-block {
    display: inline-block;
    width: inherit;
    & + & {
      margin-left: $spacer;
    }
  }

  @each $size, $breakpoint in $breakpoints {
    @media (max-width: $breakpoint) {
      &-block-#{$size} {
        display: block;
        width: 100%;
        text-align: center;
        & + & {
          margin-top: $spacer;
          margin-left: 0;
        }
      }
    }
  }

  @each $size, $breakpoint in $breakpoints {
    @media (max-width: $breakpoint) {
      &-inline-block-#{$size} {
        display: inline-block;
        width: inherit;
        & + & {
          margin-left: $spacer;
        }
      }
    }
  }

  @each $value, $color in $button-styles {
    &-#{$value} {
      color: nth($color, 1);
      background-color: nth($color, 2);
      border: nth(map-get($button-borders, $value), 1);
      box-shadow: nth(map-get($button-shadows, $value), 1);
      transition: $global-transition;

      &:hover,
      &--hover {
        background-color: nth($color, 3);
        border: nth(map-get($button-borders, $value), 2);
        box-shadow: nth(map-get($button-shadows, $value), 2);
      }
      &:focus-visible,
      &--focus-visible {
        outline: 0;
        border: nth(map-get($button-borders, $value), 3);
        background-color: nth($color, 4);
        box-shadow: nth(map-get($button-shadows, $value), 3);
      }
      &:active,
      &--active {
        outline: 0;
        border: nth(map-get($button-borders, $value), 4);
        background-color: nth($color, 5);
        box-shadow: nth(map-get($button-shadows, $value), 4);
      }
      &:disabled,
      &--disabled {
        cursor: not-allowed;
        outline: 0;
        border: nth(map-get($button-borders, $value), 5);
        background-color: nth($color, 6);
        box-shadow: nth(map-get($button-shadows, $value), 4);
      }
    }
  }

  &-svg {
    // change this for svg
    display: d-flex;
    &-lg {
      @extend .btn-svg;
    }

    &-reg {
      @extend .btn-svg;
    }

    &-sm {
      @extend .btn-svg;
    }
  }
}
