@keyframes slideInFromRight {
  to {
    left: 50%;
    opacity: 1;
  }
}

.image {
  left: 100%;
  opacity: 0;
  animation: slideInFromRight linear forwards;
  animation-timeline: view();
  animation-range: 0px 100px;
}
