.background0 {
  background: radial-gradient(45.61% 74.42% at 78.42% 29.36%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%), #ffffff;
}

.background1 {
  background: radial-gradient(38.75% 76.47% at 76.06% 68.07%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%), #ffffff;
}

.background2 {
  background: radial-gradient(32.3% 80.39% at 17.73% 38.7%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%), #ffffff;
}

.background3 {
  background: linear-gradient(35.9deg, #07000e 21.08%, rgba(0, 0, 0, 0) 47.17%),
    linear-gradient(180deg, #07000e 0.24%, rgba(0, 0, 0, 0) 74.95%);
}

.background4 {
  background: radial-gradient(47.29% 70.99% at 21.41% 57.45%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%), #ffffff;
}

.gradient {
  background: linear-gradient(270deg, #e1cff4 50%, rgba(225, 207, 244, 0.5) 129.76%);
}
