@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255, 1);
  color: rgba(7, 0, 14, 1);
}

h1 {
  @apply text-4xl;
  @apply leading-4xl;
}

h2 {
  @apply text-3xl;
  @apply leading-3xl;
}

h3 {
  @apply text-2xl;
  @apply leading-2xl;
}

h4 {
  @apply text-xl;
  @apply leading-xl;
}

h5 {
  @apply text-sm;
  @apply leading-sm;
}

h6 {
  @apply text-xs;
  @apply leading-xs;
}

ul {
  @apply list-disc list-inside;
}

li {
  @apply pl-16;
}
