.background {
  background: linear-gradient(90deg, #f6eff0 23.25%, rgba(246, 239, 240, 0) 40.94%);

  @media (max-width: 1024px) {
    /* background: linear-gradient(180deg, #f6eff0 61.5%, rgba(246, 239, 240, 0) 64.66%, #f6eff1); */
    background-color: #f6eff0;
  }
}
