// CHECKBOX BUTTONS

$checkbox-size-base: 1rem !default;

$checkbox-outer-sm-size: $checkbox-size-base * calc(14 / 16);
$checkbox-inner-sm-size: $checkbox-size-base * calc(8 / 16);
$checkbox-sm-font-size: $checkbox-size-base * calc(14 / 16);
$checkbox-sm-line-height: $checkbox-size-base * calc(20 / 16);

$checkbox-outer-reg-size: $checkbox-size-base * calc(18 / 16);
$checkbox-inner-reg-size: $checkbox-size-base * calc(12 / 16);
$checkbox-reg-font-size: $checkbox-size-base * calc(16 / 16);
$checkbox-reg-line-height: $checkbox-size-base * calc(24 / 16);

$checkbox-outer-lg-size: $checkbox-size-base * calc(24 / 16);
$checkbox-inner-lg-size: $checkbox-size-base * calc(14 / 16);
$checkbox-lg-font-size: $checkbox-size-base * calc(18 / 16);
$checkbox-lg-line-height: $checkbox-size-base * calc(28 / 16);

// label color

$checkbox-label-color: $black;

// borders

$checkbox-border-radius: 4px;

$checkbox-checked-reg-border: 1px solid $black;
$checkbox-checked-hover-border: 1px solid $black;
$checkbox-checked-focus-border: 1px solid $black;
$checkbox-checked-active-border: 1px solid $black;
$checkbox-checked-disabled-border: none;
$checkbox-checked-error-border: none;

$checkbox-unchecked-reg-border: 1px solid $black;
$checkbox-unchecked-hover-border: 1px solid $black;
$checkbox-unchecked-focus-border: 1px solid $black;
$checkbox-unchecked-active-border: 1px solid $black;
$checkbox-unchecked-disabled-border: none;
$checkbox-unchecked-error-border: none;

$checkbox-borders: (
  checked: (
    // 1 --> reg
    $checkbox-checked-reg-border,
    // 2 --> hover
    $checkbox-checked-hover-border,
    // 3 --> focus
    $checkbox-checked-focus-border,
    // 4 --> active
    $checkbox-checked-active-border,
    // 5 --> disabled
    $checkbox-checked-disabled-border,
    // 6 --> error
    $checkbox-checked-error-border,
  ),
  unchecked: (
    // 1 --> reg
    $checkbox-unchecked-reg-border,
    // 2 --> hover
    $checkbox-unchecked-hover-border,
    // 3 --> focus
    $checkbox-unchecked-focus-border,
    // 4 --> active
    $checkbox-unchecked-active-border,
    // 5 --> disabled
    $checkbox-unchecked-disabled-border,
    // 6 --> error
    $checkbox-unchecked-error-border,
  ),
);

$checkbox-checked-reg-bg: $neutral;
$checkbox-checked-hover-bg: $neutral;
$checkbox-checked-focus-bg: $neutral;
$checkbox-checked-active-bg: $neutral;
$checkbox-checked-disabled-bg: $neutral;
$checkbox-checked-error-bg: $neutral;

$checkbox-unchecked-reg-bg: $neutral;
$checkbox-unchecked-hover-bg: $neutral;
$checkbox-unchecked-focus-bg: $neutral;
$checkbox-unchecked-active-bg: $neutral;
$checkbox-unchecked-disabled-bg: $neutral;
$checkbox-unchecked-error-bg: $neutral;

$checkbox-bg: (
  checked: (
    // 1 --> reg
    $checkbox-checked-reg-bg,
    // 2 --> hover
    $checkbox-checked-hover-bg,
    // 3 --> focus
    $checkbox-checked-focus-bg,
    // 4 --> active
    $checkbox-checked-active-bg,
    // 5 --> disabled
    $checkbox-checked-disabled-bg,
    // 6 --> error
    $checkbox-checked-error-bg,
  ),
  unchecked: (
    // 1 --> reg
    $checkbox-unchecked-reg-bg,
    // 2 --> hover
    $checkbox-unchecked-hover-bg,
    // 3 --> focus
    $checkbox-unchecked-focus-bg,
    // 4 --> active
    $checkbox-unchecked-active-bg,
    // 5 --> disabled
    $checkbox-unchecked-disabled-bg,
    // 6 --> error
    $checkbox-unchecked-error-bg,
  ),
);
