// COLORS

$black: #181b22;
$neutral: #ffffff;
$gray-5: #3e404e;
$gray-4: #757782;
$gray-3: #adaeb7;
$gray-2: #e4e5eb;
$gray-1: #f7f7fd;
$brand-blue: #c6def1;
$brand-purple: #dbcdf0;
$brand-pink: #f2c6de;
$brand-orange: #f7d9c4;
$brand-yellow: #faedcb;
$beet: #9d0547;
$indigo: #43129e;
$sea: #0053b5;
$cove: #008dba;
$slime: #00b27d;
$lawn: #749c00;
$tiger: #b56c00;
$jet: #303030;
$purple-dark: #ac93e1;

$all-colors: (
  black: $black,
  neutral: $neutral,
  gray-5: $gray-5,
  gray-4: $gray-4,
  gray-3: $gray-3,
  gray-2: $gray-2,
  gray-1: $gray-1,
  brand-blue: $brand-blue,
  brand-purple: $brand-purple,
  brand-pink: $brand-pink,
  brand-orange: $brand-orange,
  brand-yellow: $brand-yellow,
  beet: $beet,
  indigo: $indigo,
  sea: $sea,
  cove: $cove,
  slime: $slime,
  lawn: $lawn,
  tiger: $tiger,
  jet: $jet,
  purple-dark: $purple-dark,
);
