// Gradients

$gradient-indigo: linear-gradient(180deg, #e4d8f5 0%, #d0b1ff 100%);
$gradient-peet: linear-gradient(179.28deg, #eec7da 32.87%, #ffa0c8 99.38%);
$gradient-sea: linear-gradient(180deg, #d8e7f5 0%, #b1d0ff 100%);
$gradient-cove: linear-gradient(179.28deg, #c5dfea 32.87%, #afdeff 99.38%);
$gradient-jet: linear-gradient(179.28deg, #e2e2e2 32.87%, #b8b8b8 99.38%);
$gradient-tiger: linear-gradient(180deg, #f7e2d5 0%, #ffd79c 100%);
$gradient-lawn: linear-gradient(179.28deg, #f0f5d0 32.87%, #ddf1a5 99.38%);
$gradient-slime: linear-gradient(179.28deg, #c2dfe8 32.87%, #a5f2d2 99.38%);
$gradient-hologram: linear-gradient(180deg, #ebe7d9 0%, #bbaaec 50%, #879be9 100%);

$all-gradients: (
  indigo: $gradient-indigo,
  peet: $gradient-peet,
  sea: $gradient-sea,
  cove: $gradient-cove,
  jet: $gradient-jet,
  tiger: $gradient-tiger,
  lawn: $gradient-lawn,
  slime: $gradient-slime,
  hologram: $gradient-hologram,
);
