// LINKS

$primary-link-color: $black;
$primary-link-visited-color: $black;
$primary-link-hover-color: $black;
$secondary-link-color: $black;
$secondary-link-visited-color: $black;
$secondary-link-hover-color: $black;

$primary-link-text-decoration: underline;
$primary-link-hover-text-decoration: none;
$primary-link-visited-text-decoration: none;
$secondary-link-text-decoration: none;
$secondary-link-hover-text-decoration: underline;
$secondary-link-visited-text-decoration: underline;

$link-colors: (
  primary: (
    // 1 --> reg
    $primary-link-color,
    // 2 --> hover
    $primary-link-hover-color,
    // 3 --> visited
    $primary-link-visited-color,
  ),
  secondary: (
    // 1 --> reg
    $secondary-link-color,
    // 2 --> hover
    $secondary-link-hover-color,
    // 3 --> visited
    $secondary-link-visited-color,
  ),
);

$link-text-decorations: (
  primary: (
    // 1 --> reg
    $primary-link-text-decoration,
    // 2 --> hover
    $primary-link-hover-text-decoration,
    // 3 --> visited
    $primary-link-visited-text-decoration,
  ),
  secondary: (
    // 1 --> reg
    $secondary-link-text-decoration,
    // 2 --> hover
    $secondary-link-hover-text-decoration,
    // 3 --> visited
    $secondary-link-visited-text-decoration,
  ),
);
