$shadow-xs: none;
$shadow-sm: none;
$shadow-reg: none;
$shadow-lg: none;
$shadow-xl: none;

$all-shadows: (
  shadow-xs: $shadow-xs,
  shadow-sm: $shadow-sm,
  shadow-reg: $shadow-reg,
  shadow-lg: $shadow-lg,
  shadow-xl: $shadow-xl,
);
