// TYPOGRAPHY

$heading-font-family: var(--space-grotesk-font);
$body-font-family: var(--inter-font);

$fontWeight: (100, 200, 300, 400, 500, 600, 700, 800, 900);

$font-size-base: 16px !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5;

$h1-lead-font-size: 1rem * calc(136 / 16);
$h1-lead-line-height: 1rem * calc(136 / 16);

$h1-font-size: 1rem * calc(80 / 16);
$h1-line-height: 1rem * calc(80 / 16);

$h2-lead-font-size: 1rem * calc(64 / 16);
$h2-lead-line-height: 1rem * calc(64 / 16);

$h2-font-size: 1rem * calc(40 / 16);
$h2-line-height: 1rem * calc(44 / 16);

$h3-font-size: 1rem * calc(32 / 16);
$h3-line-height: 1rem * calc(38 / 16);

$h4-font-size: 1rem * calc(24 / 16);
$h4-line-height: 1rem * calc(29 / 16);

$h5-font-size: 1rem * calc(20 / 16);
$h5-line-height: 1rem * calc(24 / 16);

$h6-font-size: 1rem * calc(16 / 16);
$h6-line-height: 1rem * calc(24 / 16);

$body-lg-font-size: 1rem * calc(20 / 16);
$body-lg-line-height: 1rem * calc(30 / 16);

$body-reg-font-size: 1rem * calc(16 / 16);
$body-reg-line-height: 1rem * calc(24 / 16);

$body-sm-font-size: 1rem * calc(12 / 16);
$body-sm-line-height: 1rem * calc(18 / 16);

$body-xs-font-size: 1rem * calc(12 / 16);
$body-xs-line-height: 1rem * calc(16 / 16);

$link-lg-font-size: 1rem * calc(20 / 16);
$link-lg-line-height: 1rem * calc(30 / 16);

$link-reg-font-size: 1rem * calc(16 / 16);
$link-reg-line-height: 1rem * calc(24 / 16);

$link-reg-medium-font-size: 1rem * calc(16 / 16);
$link-reg-medium-line-height: 1rem * calc(19 / 16);
