.background {
  background: radial-gradient(29.92% 85.25% at 27.48% 50%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%);
}

.gradientLeft {
  background: linear-gradient(90deg, #e4d3f6 0%, rgba(228, 211, 246, 0.5) 111.63%);
}

.gradientRight {
  background: linear-gradient(90deg, rgba(239, 231, 245, 0.5) 0%, #efe7f5 111.63%);
}
