.background {
  background: radial-gradient(45.61% 74.42% at 78.42% 29.36%, rgba(151, 71, 255, 0.2) 0%, rgba(220, 197, 245, 0) 100%),
    linear-gradient(180deg, #ebe1f2 11.66%, rgba(235, 225, 242, 0) 100%);
}
