@import "./config/_colorsConfig.scss";
@import "./config/_typographyConfig.scss";
@import "./config/_radioButtonsConfig.scss";
@import "./config/_checkboxConfig.scss";
@import "./config/_textInputConfig.scss";
@import "./config/_linkConfig.scss";
@import "./config/_shadowsConfig.scss";
@import "./config/_transitionConfig.scss";
@import "./config/_selectInputConfig.scss";
@import "./config/_gradientsConfig.scss";

//
// VARIABLES
//

//
// SPACINGS
//

$spacer: 1rem !default;
$spacers: (
  -92: ($spacer * calc(-92 / 16)),
  -50: ($spacer * calc(-50 / 16)),
  -1: ($spacer * calc(-1 / 16)),
  0: 0,
  1: ($spacer * calc(1 / 16)),
  2: ($spacer * calc(2 / 16)),
  4: ($spacer * calc(4 / 16)),
  6: ($spacer * calc(6 / 16)),
  8: ($spacer * calc(8 / 16)),
  10: ($spacer * calc(10 / 16)),
  12: ($spacer * calc(12 / 16)),
  16: ($spacer * calc(16 / 16)),
  20: ($spacer * calc(20 / 16)),
  24: ($spacer * calc(24 / 16)),
  32: ($spacer * calc(32 / 16)),
  38: ($spacer * calc(38 / 16)),
  40: ($spacer * calc(40 / 16)),
  48: ($spacer * calc(48 / 16)),
  56: ($spacer * calc(56 / 16)),
  64: ($spacer * calc(64 / 16)),
  69: ($spacer * calc(69 / 16)),
  72: ($spacer * calc(72 / 16)),
  80: ($spacer * calc(80 / 16)),
  88: ($spacer * calc(88 / 16)),
  92: ($spacer * calc(92 / 16)),
  96: ($spacer * calc(96 / 16)),
  104: ($spacer * calc(104 / 16)),
  112: ($spacer * calc(112 / 16)),
  128: ($spacer * calc(128 / 16)),
  134: ($spacer * calc(134 / 16)),
  140: ($spacer * calc(140 / 16)),
  168: ($spacer * calc(168 / 16)),
  200: ($spacer * calc(200 / 16)),
  211: ($spacer * calc(211 / 16)),
  224: ($spacer * calc(224 / 16)),
  256: ($spacer * calc(256 / 16)),
  384: ($spacer * calc(384 / 16)),
  512: ($spacer * calc(512 / 16)),
  576: ($spacer * calc(576 / 16)),
  auto: auto
);

//
// OPACITIES
//

$opacity: 1 !default;
$opacities: (
  0: 0,
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
  100: 1,
);

//
// BREAKPOINTS
//

$breakpoint-xxs: 200px;
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  xxs: $breakpoint-xxs,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

//
// ALIGNMENTS
//

$alignments: (
  "center",
  "space-between",
  "space-around",
  "space-evenly",
  "flex-start",
  "flex-end",
  "baseline",
  "stretch",
  "auto"
);

$textAlignments: ("left", "right", "center", "revert");

//
// DISPLAYS
//

$displays: (
  "block",
  "inline-block",
  "inline",
  "grid",
  "table",
  "table-row",
  "table-cell",
  "flex",
  "inline-flex",
  "none"
);

//
// FLEX UTILITIES
//

$flexDirections: ("row", "column", "row-reverse", "column-reverse");
$flexWraps: ("wrap", "nowrap", "wrap-reverse");
$flexSizes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);

//
// CURSORS
//

$cursors: (
  default,
  pointer,
  help,
  wait,
  crosshair,
  not-allowed,
  zoom-in,
  zoom-out,
  grab,
  auto
);

//
// WIDTH/HEIGHT
//

$percents: (
  0: 0%,
  75: 75%,
  100: 100%,
);

$auto: (
  auto: auto,
);

//
// OVERFLOW
//

$overflows: (auto, hidden, visible, scroll, clip);

//
// POSITIONS
//

$positions: (static, relative, absolute, fixed, sticky);
$layers: (-2, -1, 0, 1, 2, 3, 4, 5);
