.background {
  background: linear-gradient(60.04deg, rgba(0, 0, 0, 0.4) 8.24%, rgba(7, 0, 14, 0.4) 8.24%, rgba(7, 0, 14, 0) 67.18%);

  @media (max-width: 640px) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 53.86%, rgba(7, 0, 14, 0.7) 53.86%, rgba(7, 0, 14, 0) 87.35%);
  }
}
