@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./gui/_buttons.scss";
@import "./gui/_checkbox.scss";
@import "./gui/_radioButtons.scss";
@import "./gui/_selectInput.scss";
@import "./gui/_textInput.scss";
